/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: monaco, monospace;
    background: linear-gradient(to bottom, #bebebe, #ffffff)
    /* transition: background-color 0.5s ease; */
}

/* Header Styles */
header {
    width: 90%;
    /* background: linear-gradient(to bottom, rgb(11, 12, 12),rgba(255, 255, 255, 0.5)); Set your header gradient */
    /* background-color: #28292b;   */
    color: #ffffff; /* White text color */
    padding: 0 5%; /* Add some padding */
    /* text-align: center; Center-align text */
    align-items: center;
    /* transition: background-color 0.5s ease; */
}

header h1 {
    font-family: trebuchet ms, sans-serif;
    font-weight: normal;
    color: #000000;
    /* -webkit-text-stroke: 0.3px white; */
    /* text-stroke: 2px white; */
    /* text-shadow: 3px 3px 5px #000; */
    font-size: 40px; /* Adjust the font size as needed */
    margin-bottom: 5px; /* Add some space between the name and the span */
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header:hover {
    background: linear-gradient(to bottom, rgb(11, 12, 12),#979797); 
    color: #ffffff;
}

header:hover h1{
    color: #ffffff;
}

header:hover nav{
    color: #ffffff;
}

header:hover nav li a{
    color: #ffffff;
}

nav {
    width: 100%;
    color: #414141;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #7475e0;
    text-decoration: none;
    font-weight: bold;
}

/* Footer Styles
footer {
    background-color: #4CAF50;
    color: #ffffff;
    text-align: center;
    padding: 10px;
} */


/* Main Content Styles */
.hero-image img {
    width: 50%;
    border: 5px solid #000500; /* Green border for the image */
    display: block; /* Center the image within its container */
    margin: 0 auto; /* Center the image horizontally */
}

.text-block {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    font-size: 20px;
    text-align: center;

    /* background-color: #fff; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.section-title {
    text-align: center;
    font-weight: bold;
}


/* Add your additional styles as needed */

/* Add your CSS styles here for the photo section */
.photo-section {
    text-align: center;
    margin-top: 50px; /* Add some space between header and photo */
}

.rounded-image {
    border-radius: 50%; /* Create a circular border */
    width: 350px; /* Adjust the width of the image */
    height: 350px; /* Adjust the height of the image */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border: 10px ; /* Optional: Add a border around the image */
}